  <!-- Footer -->
  <footer class="page-footer info-color darken-1" if="footer">
    <div class="container">
      <div class="row">
        <hr class="hidden-lg hidden-md">

        <div class="col-md-2">
          <p class="white-text center-on-small-only">USEFUL LINKS</p>
          <ul>
            </li>
            <li><a class="grey-text text-lighten-3" href="http://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">About MDB</a>
            </li>
          </ul>
        </div>
        <hr class="hidden-lg hidden-md">

      </div>
    </div>
    <div class="footer-copyright wow">
      <div class="container">
        <div class="col-md-10 col-md-offset-1"> © 2016 Copyright <a href="http://github.com/jagross66/group-project-2" target="_blank">Chris, Dhaval, James, Jeremy</a>
        </div>
      </div>
    </div>
  </footer>

 

  