<!DOCTYPE html>
<html lang="en">

<head>

  <title> meal planning and pricing for your convenience </title>
  
  <!-- BEGIN SEO -->
  
  <meta name="keywords"
  content="FOOD MEAL PLANNING RECIPIE CALENDAR SHOPPING PRICES DINNER LUNCH BRUNCH BREAKFAST SNACK FAMILY EAT SAVE PLAN COST APP MEASURE BUDGET TOOL CALCULATE SAVINGS COOK AT HOME EAT PARENTS KIDS GROCERY STORE LIST"/>
  <meta name="description" content="A meal planning and budgeting tool that helps people to buy and make meals the whole family will love"/>
  <!-- END SEO -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Material Design Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- Bootstrap core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Material Design Bootstrap -->
  <link href="css/mdb.css" rel="stylesheet">

  <!-- Template style -->
  <link href="css/style.css" rel="stylesheet">
  
  <title>Group Project</title>
</head>

    <body>
        {{{ body }}}
    </body>
</html>