{{>navbarpartial}}


  <!-- Tabbed content: see http://getbootstrap.com/javascript/#tabs -->

  <div class="container">
  
  <div class="row">
  <div class="col-xs-12 panel panel-body z-depth-2">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist" id="myTab">
    <li role="presentation" class="active"><a href="#recipelist" aria-controls="home" role="tab" data-toggle="tab">My Recipes</a></li>
    <li role="presentation"><a href="#schedule" aria-controls="profile" role="tab" data-toggle="tab">Weekly Planner</a></li>
  </ul>

  <!-- Tab panes -->
  
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="recipelist">
    	<br>
    	<p> Stored Recipes </p>

    </div>
    <div role="tabpanel" class="tab-pane" id="schedule">
    	<br>
  
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <!--Card content-->
            <div class="card-block">
                <!--Title-->
                
                <h5> <strong> Sunday </strong> </h5>
                <p> Breakfast </p>
                <br>
                <p> Lunch </p>
                <br>
                <p> Dinner </p>
            </div>
            <!--/.Card content-->
          </div>
        <!--/.Card-->
        </div>
      </div>

      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <!--Card content-->
            <div class="card-block">
                <!--Title-->
                
                <h5> <strong> Monday </strong> </h5>
                <p> Breakfast </p>
                <br>
                <p> Lunch </p>
                <br>
                <p> Dinner </p>
            </div>
            <!--/.Card content-->
          </div>
        <!--/.Card-->
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <!--Card content-->
            <div class="card-block">
                <!--Title-->
                
                <h5> <strong> Tuesday </strong> </h5>
                <p> Breakfast </p>
                <br>
                <p> Lunch </p>
                <br>
                <p> Dinner </p>
            </div>
            <!--/.Card content-->
          </div>
        <!--/.Card-->
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <!--Card content-->
            <div class="card-block">
                <!--Title-->
                
                <h5> <strong> Wednesday </strong> </h5>
                <p> Breakfast </p>
                <br>
                <p> Lunch </p>
                <br>
                <p> Dinner </p>
            </div>
            <!--/.Card content-->
          </div>
        <!--/.Card-->
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <!--Card content-->
            <div class="card-block">
                <!--Title-->
                
                <h5> <strong> Thursday </strong> </h5>
                <p> Breakfast </p>
                <br>
                <p> Lunch </p>
                <br>
                <p> Dinner </p>
            </div>
            <!--/.Card content-->
          </div>
        <!--/.Card-->
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <!--Card content-->
            <div class="card-block">
                <!--Title-->
                
                <h5> <strong> Friday </strong> </h5>
                <p> Breakfast </p>
                <br>
                <p> Lunch </p>
                <br>
                <p> Dinner </p>
            </div>
            <!--/.Card content-->
          </div>
        <!--/.Card-->
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <!--Card content-->
            <div class="card-block">
                <!--Title-->
                
                <h5> <strong> Saturday </strong> </h5>
                <p> Breakfast </p>
                <br>
                <p> Lunch </p>
                <br>
                <p> Dinner </p>
            </div>
            <!--/.Card content-->
          </div>
        <!--/.Card-->
        </div>
      </div>
      
    </div>
  </div>
  </div> <!-- col-xs-10 end -->
  </div> <!-- row end -->
  </div> <!-- container end -->
  





{{>footerpartial}}

 <script type="text/javascript" src="js/jquery.min.js"></script>
 <script type="text/javascript" src="js/bootstrap.min.js"></script>
 
 <script>

  // Activates tabs on click

  $('#myTab a').click(function(e) {
    e.preventDefault();
    $(this).tab('show');
  });
 

 
</script>
