
{{>navbarpartial}}

  <!-- Tabbed content: see http://getbootstrap.com/javascript/#tabs -->

  <div class="container">
  
  <div class="row">
  <div class="col-xs-12 panel panel-body z-depth-2">
    	<br>
     {{#each dayPlans}}
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <!--Card content-->
            <div class="card-block">
                <!--Title-->
                
                <h5> <strong> {{this.date}} </strong> </h5>
                {{#if dayPlans.breakfastflag}}
                 <p> Meal: Breakfast </p>
                {{/if}}
                {{#if dayPlans.lunchflag}}
                 <p> Meal: Lunch </p>
                {{/if}}
                {{#if dayPlans.dinnerflag}}
                 <p> Meal: Dinner </p>
                {{/if}}

            </div>
            <!--/.Card content-->
          </div>
        <!--/.Card-->
        </div>
      </div>
      {{/each}}

  </div> <!-- col-xs-12 end -->
  </div> <!-- row end -->
  </div> <!-- container end -->
  
{{>footerpartial}}

  <script type="text/javascript" src="js/jquery.min.js"></script>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>

  <!-- Material Design Bootstrap -->
  <script type="text/javascript" src="js/mdb.js"></script>

  <!-- Our index.js file -->

  <script type="text/javascript" src="js/index.js"></script>

