.page-content {
    margin-top: 40px;
}

.carousel,
.carousel-inner,
.carousel-inner .item {
  height: 400px;
    margin-bottom: 50px;
}

.item:nth-child(1) {
    background-image: url(../img/kale1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.item:nth-child(2) {
    background-image: url(../img/crickets1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.item:nth-child(3) {
    background-image: url(../img/seaweed1.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.item:nth-child(4) {
    background-image: url(../img/borscht1.jpg);
    background-repeat: no-repeat;
    background-size: cover; 

}

p {
    font-size: 16px;
    line-height: 30px;
    color: #666666;
}

.call-to-action-widget {
    padding: 30px;
    margin-top: 30px;
    text-align: center;
}

.fb-bg {
background-color: #3B5998;
}
.tw-bg {
background-color: #55ACEE;
}
.gplus-bg {
background-color: #DD4B39;
}

footer.page-footer a {
line-height: 25px;
}

footer.page-footer a {
color: #fff;
font-size: 15px;
}